In [18]:
import logging
logging.basicConfig(level=logging.INFO)
import pickle
from collections import Counter

import numpy as np
import pandas as pd
import matplotlib.pylab as plt

from naruto_skills import dataset
from naruto_skills.text_transformer import TextTransformer

In [19]:
# my_dataset = dataset.Dataset.create_from_npz('./model/data_for_train/output/without_entity/')
my_dataset = dataset.Dataset.create_from_npz('data_for_train/output/')
text_transformer = TextTransformer.get_instance('we/output/vocab.txt')

INFO:root:Loaded vocab successfully. It contains 12286 words

In [20]:
my_dataset.show_info()

INFO:root:Dataset size: 10000

Data train has size: 8000
0    5351
1    2649
Name: y, dtype: int64
Data eval has size: 1800
0    1194
1     606
Name: y, dtype: int64
Data test has size: 200
0    122
1     78
Name: y, dtype: int64

In [21]:
my_iter = my_dataset.data_train.get_data_iterator(batch_size=10)

In [27]:
X.shape

(10, 2)

In [28]:
x1, x2 = list(zip(*X))

In [32]:
x1[0]

{'attribute_good_ids': ['80447'],
 'id': '04ecfb4d-b4e0-5767-b003-4f41d874d748',
 'mention': [746,
  7,
  508,
  634,
  746,
  7,
  28,
  679,
  1520,
  442,
  1899,
  445,
  73,
  5,
  7,
  2,
  782,
  94,
  200,
  14,
  40,
  6,
  118,
  28,
  267,
  264,
  0,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284,
  12284]}

In [25]:
X, y = next(my_iter)
for x_, y_ in zip(X, y):
    x1, x2 = x_
    print('Text 1: \t%s' % text_transformer.index_to_docs([x1['mention']])[0])
    print('Attribute 1: \t%s' % x1['attribute_good_ids'])
    print('ID 1: \t%s' % x1['id'])
    
    print('Text 2: \t%s' % text_transformer.index_to_docs([x2['mention']])[0])
    print('Attribute 2: \t%s' % x2['attribute_good_ids'])
    print('ID 2: \t%s' % x2['id'])
    print('Label: \t', y_)
    print()

Text 1: 	khí lạnh đa chiều khí lạnh được lan tỏa đều khắp nơi trong tủ lạnh , đảm bảo thực phẩm của bạn luôn được tươi ngon .
Attribute 1: 	['80447']
ID 1: 	04ecfb4d-b4e0-5767-b003-4f41d874d748
Text 2: 	nhà mình có rồi dùng thích lắm đấy mọi người ạ
Attribute 2: 	['80447']
ID 2: 	ad04e48e-2ace-52ee-bf8f-e1a8a377ec8b
Label: 	 1

Text 1: 	@ nguyễn hoàng : cho chi hỏi tu lạnh sam sung numpatt lit giá bao nhiêu
Attribute 1: 	['126580']
ID 1: 	412aa5d2-59dc-5e6a-ad72-168cb42cb3f4
Text 2: 	không mua thì thôi , đã mua thì phải nên mua tủ lạnh to lớn như này để thực phẩm mới đc nhiều nè , mà nghe đâu sp này bảo quản thực phẩm tươi gấp 2 lần lận
Attribute 2: 	['405446', '80407', '80447']
ID 2: 	7f824899-5d56-592f-9ca1-85a8e911708f
Label: 	 0

Text 1: 	tủ lạnh sam sum giá bao mhieu vậy
Attribute 1: 	['126580']
ID 1: 	8c12478b-0cf6-5ab9-895d-2da45238dc92
Text 2: 	gia bn
Attribute 2: 	['126580']
ID 2: 	bb7c9861-95a3-50d9-ae11-d858cd6c9aaf
Label: 	 1

Text 1: 	tủ này bao nhiêu tiền ah chị
Attribute 1: 	['126580']
ID 1: 	8225face-5ee7-5a48-af29-aaea170ac9ef
Text 2: 	giá bniu ak
Attribute 2: 	['126580']
ID 2: 	3681e48f-ba32-5cb3-9bd5-7d52c0e3ed7a
Label: 	 1

Text 1: 	dùng tủ của tulanh_brand thì thích rồi , huống chi tủ to urlpatt
Attribute 1: 	['405446', '80407']
ID 1: 	450d6427-c873-5009-b9f9-4529bdf3eeef
Text 2: 	cho m hỏi tủ lạnh sanyo mini bnhiêu tiền vậy
Attribute 2: 	['126580']
ID 2: 	8d6c4112-5e72-5038-b5f4-e71f5d76ff3b
Label: 	 0

Text 1: 	bao nhiêu tiềm
Attribute 1: 	['126580']
ID 1: 	2dc4f076-b37b-5295-9b9c-1db00b62246c
Text 2: 	thích nhất là thực phẩm luôn tươi ngon chị ơi
Attribute 2: 	['80447']
ID 2: 	e151d31a-f35a-56eb-b223-bcdc3f3a843d
Label: 	 0

Text 1: 	tủ này bao nhiêu lít vậy ?
Attribute 1: 	['80408', '405447']
ID 1: 	2da9d435-6d0a-5d39-803b-6eecb1e2cb9c
Text 2: 	đẹp thế chị , nhìn cái tủ lạnh phong cách hiện đại nhỉ , nhiều chức năng hay và độc đáo quá
Attribute 2: 	['80407', '126503']
ID 2: 	aba234cf-bd55-54eb-b342-2167910f9183
Label: 	 0

Text 1: 	tủ bự chà bá luôn , nhìn sang quá e
Attribute 1: 	['80407', '126503']
ID 1: 	d498b4bc-7f36-5d22-937c-2dc19ea7f353
Text 2: 	tu lanh samsung 2 dàn lanh dung tich nho nhat la bao nhju ah . gia bao nhju .
Attribute 2: 	['126580']
ID 2: 	de345531-2c05-50f2-97d6-ad2924832d7e
Label: 	 0

Text 1: 	tủ inverter với tủ thường loại nào đông đá nhanh hơn ? tủ em mới mua được vài ngày thấy đông đá chậm hơn tủ thường không biết có bị lỗi gì urlpatt khoảng 7 - 8 giờ đông khoảng numpatt numpatt % lon nước
Attribute 1: 	['80446']
ID 1: 	efe8bea5-044c-5917-9250-7450c4448a5f
Text 2: 	tủ to thế này đựng mới sướng chệ nhể , đắt không ạ ?
Attribute 2: 	['405446', '80407', '126580']
ID 2: 	3f02888a-e2f3-58ff-84b2-e098825ebd45
Label: 	 0

Text 1: 	đẹp thật mẫu mới
Attribute 1: 	['80407', '126503']
ID 1: 	9b0c1a57-9825-50f5-a9c2-3e4298be4174
Text 2: 	nhìn tủ lạnh mà mê quá c ơi , có tủ này là đựng được bao nhiêu đồ không lo việc dự trữ đồ ăn trong mùa world cup này rồi
Attribute 2: 	['405446', '80407']
ID 2: 	ca2ffc2f-dc36-573e-8837-9fc92db82cb7
Label: 	 1

In [14]:
df = pd.read_csv('preprocess/output/preprocessed_data.csv', lineterminator='\n')

In [15]:
df['mark_for_test'].sum()

9469

In [16]:
df.shape

(11742, 55)

In [17]:
df[~df['mark_for_test']]['attribute_good_ids']

7        []
14       []
20       []
26       []
28       []
29       []
40       []
42       []
51       []
52       []
58       []
67       []
85       []
88       []
92       []
101      []
104      []
105      []
114      []
118      []
123      []
124      []
127      []
132      []
135      []
137      []
142      []
197      []
222      []
226      []
         ..
11425    []
11430    []
11431    []
11436    []
11442    []
11452    []
11453    []
11655    []
11656    []
11657    []
11675    []
11677    []
11691    []
11692    []
11694    []
11695    []
11703    []
11708    []
11709    []
11710    []
11712    []
11713    []
11714    []
11717    []
11718    []
11733    []
11737    []
11738    []
11740    []
11741    []
Name: attribute_good_ids, Length: 2273, dtype: object

In [ ]:
X, y = next(my_iter)
# X, l = list(zip(*X))
for i, (x1, x2) in enumerate(X):
    print()
    print(text_transformer.index_to_docs([x1], is_skip_padding=True))
    print(text_transformer.index_to_docs([x2], is_skip_padding=True))
    print(y[i])

In [ ]:
plt.bar(range(79), np.sum(my_dataset.data_test.y, axis=0))
plt.title('test')
plt.show()

In [ ]:
plt.bar(range(79), np.sum(my_dataset.data_eval.y, axis=0))
plt.title('eval')
plt.show()

In [ ]:
plt.bar(range(79), np.sum(my_dataset.data_train.y, axis=0))
plt.title('train')
plt.show()

In [ ]:
list(zip(np.sum(my_dataset.data_test.y, axis=0), np.sum(my_dataset.data_train.y, axis=0)))

In [ ]:
text_transformer = TextTransformer(vocab_file='./model/training/output/word_embedding//vocab.txt')
lb_transformer = HierarchicalLabelTransformer.load_from_pickle('./model/label_transform/output/')

In [ ]:
list(lb_transformer.lb_lv2.classes_)

In [ ]:
train_iter = my_dataset.data_train.get_data_iterator(batch_size=-1, num_epochs=-1)
eval_iter = my_dataset.data_eval.get_data_iterator(batch_size=-1, num_epochs=-1)

In [ ]:
X_train, _ = next(train_iter)
X_eval, y_eval = next(eval_iter)

In [ ]:
doc_eval = text_transformer.index_to_docs(X_eval[10:20], is_skip_padding=True)
label_eval = lb_transformer.inverse_transform(y_eval[10:20])

In [ ]:
for doc, lb in zip(doc_eval, label_eval):
    print('doc: ', doc)
    print('lb: ', lb)
    print()

In [ ]:
sess.run(tf.reduce_sum(
    tf.nn.sigmoid_cross_entropy_with_logits(labels=[[0., 0, 1],[0., 0, 1]], logits=[[0., 0, 10], [0., 0, 10],]),
    axis=1
))

In [ ]:
lb_transformer = HierarchicalLabelTransformer.load_from_pickle('model/label_transform/output/')
text_transformer = TextTransformer(vocab_file='./model/vocab/output/vocab.txt')

In [ ]:
dataset = dataset.Dataset.create_from_npz('model/data_for_train/output/hierarchical_data/')

In [ ]:
train_iter = dataset.data_train.get_data_iterator(batch_size=10)

In [ ]:
X, y = next(train_iter)

In [ ]:
for doc, lb in zip(text_transformer.index_to_docs(X), lb_transformer.inverse_transform(y)):
    print('Doc: %s' % doc)
    print('Label: {}'.format(lb))
    print()

In [ ]:
text_transformer.index_to_docs(text_transformer.docs_to_index(['điện thoại']))

In [ ]:
c = Counter(['a', 'b', 'b', 'c'])

In [ ]:
c.__len__()

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
X = np.ones((100, 2))
y = np.array([[1, 0]]*1 + [[1,1]]*1 + [[0, 1]]*98)

In [ ]:
np.sum(y, axis=0)

In [ ]:
sss = StratifiedShuffleSplit(n_splits=1, test_size=0.5, random_state=0)

In [ ]:
q1, q2 = list(sss.split(X, y))[0]

In [ ]:
np.sum(y[q1], axis=0)

In [ ]:
np.sum(y[q2], axis=0)

In [ ]:
sum(q2<15)